@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

body{
    padding: 50px 200px;
    font-family: 'Open Sans', sans-serif;
}

header{
    border-bottom: 2px solid #B0AFAF;
}

.cabecalho_topico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

.titulo{
    font-weight: 700;
    font-size: 50px;
}

.subtitulo{
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: #555555;
}

.autor, data{
    font-weight: 400;
}

.conteudo_principal{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.paragrafo{
    margin-bottom: 20px;
    line-height: 32px;
}

.destaque{
    color: #A6130A;
    font-weight: 700;
}

ul{
    margin-bottom: 25px;
    margin-left: 50px;
}

li{
    margin-bottom: 30px;
    line-height: 24px;
}

.segundo_titulo{
    font-weight: 700;
    margin-bottom: 18px;
    color: #111111;
}

.paragrafo2{
    margin-top: 22px;
    font-size: 28px;
    line-height: 36px;
    color: #333333;
    font-weight: 600;
    border-left: 3px solid #A6130A;
    padding-left: 10px;
}